.mini-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
}

#menu-opener {
  font-size: 20px;
  margin: auto 0;
}

.userspace {
  background-color: transparent;
  /* padding: 50px; */
  border: none !important;
  border-radius: 5px !important;
  /* height:40vh; */
}
.modalform {
  background: #2b3e50;
  border: none !important;
  border-radius: 5px !important;
  width: 60vw;
  margin: 0 auto;
}
#user-credentials {
  padding: 20px;
}

#user-location {
  padding: 20px;
}

.choice-button-container {
  /* width: 30vw; */
  margin: 0 auto !important;
  background: transparent;
  margin-bottom: 10px !important;
  margin-top: -1px !important;
}
.unified-button {
  display: flex;
  justify-content: center;
  width: 107.06px !important;
  border: none;
  border-radius: 5px;
}

.inner-content {
  color: black;
}

#search-bar {
  color: orange;
}



.right {
  float: right;
}

.left {
  float: left;
}

.bottom {
  margin-top: 18rem;
}

.custom-input {
  border: none !important;
  border-radius: 3px !important;
  color: #2b3e50 !important;
}

#menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
}
#login {
  float: right;
}
#main-menu {
  display: flex;
  flex-direction: row;
  clear: both;
  margin: 0rem !important;
  border-bottom: 1px solid #e2752c;
  overflow: hidden;
  z-index: 1;
}
#sub-menu {
  clear: both;
  margin: 0rem !important;
  padding-top: 15px;
  overflow: hidden;
  box-shadow: 0 3px 8px -1px white !important;
  z-index: 1;
  position: bottom;
}

.main-content {
  padding-top: 165px;
  height: 200%;
  width: 100%;
  z-index: 0;
}

#default-user-icon {
  font-size: 20px !important;
  color: #2b3e50;
  background: #98D8FF;
  margin: 0px 6px 2px 0px;
  border: 3px solid white;
  border-radius: 100%;
}

