.head-menu {
  width: 100%;
  height: 50px;
}

.mini-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
}

.menu-bar {
  display: flex;
  width:42px;
  height: 3px;
  margin: 5px !important;
  padding: 0 !important;
  background: white;
}
