.card {
  display: flex;
  width: 80vw !important;
  float: right;
}

.image-tile {
  border: 1px solid pink;
  margin: 2% 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  float: left;
  background: white;
  width: 100px !important;
  height: 100px !important;
}

.content {
  border: 1px solid blue;
  margin: 5px;
  padding: 8px;
  width: 80vw;
}

.stylish {
  background: #6894af !important;
  border: none !important;
  border-radius: 3px !important;
  padding: 5px !important;
}

.image {
  position: relative;
  display: flex !important;
  z-index: 1 !important;
}
