<p>
  ALL The Listings
</p>

<hr>

<ul class="container" *ngFor="let listing of allListings">
    <div *ngIf="listing.type === filteredCategory">


  <!-- DO NOT PUT ANY LISTING SPECIFIC ELEMENTS ABOVE THIS LINE -->
      {{ listing.title }}&nbsp;&nbsp; | &nbsp;&nbsp;{{ listing.type  }}

      <label for="facility-type"> Facility Type: </label>
      <span id="facility-type">{{ listing.for.facility.facilitySubType }}      </span>
      <br>

      <label for="facility-description"> Facility Description: </label>
      <span   id="facility-description">{{ listing.for.facility.description }}</span>
      <br>

      <label for="facility-notes"> Additional Notes: </label>
      <span   id="facility-notes">{{ listing.for.facility.additionalNotes }}</span>
      <br>

      <label for="multi-user"> Reservable By: </label>
      <span *ngIf="listing.for.facility.multiUser === true">  Multiple users</span>
      <span *ngIf="listing.for.facility.multiUser === false"> One user only </span>
      <br>

      <label for="multi-user"> PPE (Personal Protection Equipment): </label>
      <span *ngIf="listing.for.facility.multiUser === true">  Multiple users</span>
      <span *ngIf="listing.for.facility.multiUser === false"> One user only </span>
      <br>
  <!-- DO NOT PUT ANY LISTING SPECIFIC ELEMENTS BELOW THIS LINE -->

    </div>
</ul>

<button (click)="consoleOutput()"> Listings </button>

<!-- additionalNotes -->

equipment
:
array

<!-- facilitySubType -->

<!-- multiUser -->

ppeList
:
Array(3)

ppeProvided
:
bool

safetyFeatures
:
Array(3)

traits
:
Array(5)

